<mat-card>
    <div class="row">
        <div class="col-md-10">
            <h2>Questions of {{title}}</h2>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+qid+'/'+title">Add
                Question</button>
        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card *ngFor="let q of questions; let i=index" class="mt-10">
        <!-- {{questions|json}} -->
        <mat-card-content>
            <div>
                <b>Q. {{i+1}}</b>
                <span class="ml-20" [innerHTML]="q.content"></span>
            </div>
            <div class="container">
                <div class="row">
                    <p class="col-md-6"><b>( i ) </b>{{q.option1}}</p>
                    <p class="col-md-6"><b>( ii ) </b>{{q.option2}}</p>
                </div>
                <div class="row">
                    <p class="col-md-6" *ngIf="q.option3 != null"><b>( iii ) </b>{{q.option3}}</p>
                    <p class="col-md-6" *ngIf="q.option4 != null"><b>( iv ) </b>{{q.option4}}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt-20"><b>Correct Answer : </b>{{q.answer}}</p>

            <!-- <mat-divider></mat-divider>

            <div class="row">
                <div class="col-md-10 mt-20">
                    <b>Actions :</b>
                </div>
                <div class="col-md-2 mt-10">
                    <button mat-stroked-button color="primary" [routerLink]="'/admin/update-question/'+q.questId"
                        class="mr-10" matTooltip="Edit / Update">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-stroked-button color="warn" (click)="deleteQuestion(q.questId)" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div> -->
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button mat-stroked-button color="primary" [routerLink]="'/admin/update-question/'+q.questId" class="mr-10"
                matTooltip="Edit / Update">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-stroked-button color="warn" (click)="deleteQuestion(q.questId)" matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</mat-card>