<mat-card>
    <div class="row">
        <div class="col-md-10">
            <h2>Questions of {{title}}</h2>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="accent" [routerLink]="'/admin/add-question/'+qid+'/'+title">Add
                Question</button>
        </div>
    </div>
    <mat-card *ngFor="let q of questions; let i=index" class="mt-10">
        <!-- {{questions|json}} -->
        <mat-card-content>
            <p>
                <b>Q. {{i+1}}</b>
                <span class="ml-20">{{q.content}}</span>
            </p>
            <div class="container">
                <div class="row">
                    <p class="col-md-6"><b>( i ) </b>{{q.option1}}</p>
                    <p class="col-md-6"><b>( ii ) </b>{{q.option2}}</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><b>( iii ) </b>{{q.option3}}</p>
                    <p class="col-md-6"><b>( iv ) </b>{{q.option4}}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt-20"><b>Correct Answer : </b>{{q.answer}}</p>
        </mat-card-content>
    </mat-card>
</mat-card>