.example-header-image {
    background-image: url('../../../../assets/img/quiz.png');
    background-size: cover;
}

.active {
    background-color: #00C853 !important;
}

.inactive {
    background-color: #FF6F00 !important;
}

mat-chip {
    /* background-color: #00C853 !important; */
    font-size: 13px;
    min-height: 18px;
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 2px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: relative;
    top: 6px;
    animation: indicator 2s infinite ease-out;
    -webkit-animation: indicator 2s infinite ease-out;
    -moz-animation: indicator 2s infinite ease-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes indicator {
    0%, 50% {
        background-color: #00C853;
    }
    51%, 100% {
        background-color: none;
    }
}

@-webkit-keyframes indicator {
    0%, 50% {
        background-color: #00C853;
    }
    51%, 100% {
        background-color: none;
    }
}

@-moz-keyframes indicator {
    0%, 50% {
        background-color: #00C853;
    }
    51%, 100% {
        background-color: none;
    }
}