<div class="bootstrap-wrapper">
    <mat-toolbar color="primary" class="mt-5">
        <div class="container mt-5">

            <div class="row">
                <div class="col-md-8">
                    <address>
                        <h2>Exam Portal</h2>
                        Address : Exam Portal Private Ltd India.<br>
                        Bhagalpur,
                        Bihar<br>
                        india
                    </address>
                </div>
                <div class="col-md-4">
                    <address>Developed By Rahul</address>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>